<:Body>

  {{ if Volt.current_user }}
    <li class="dropdown user-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ if Volt.current_user.picture.present? }}
          <img src="{{ Volt.current_user.picture.url }}" width="25px" class="pull-left">
        {{ else }}
          <img src="{{ asset_url('../../assets/images/default_avatar.png') }}" width="25px" class="pull-left">
        {{ end }}
        {{ show_name }}
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu user-dropdown" role="menu">
        <li><a href="/profile">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/account">Account</a></li>
        <li class="divider"></li>
        <li><a e-click="Volt.logout">Logout</a></li>
      </ul>

    </li>
  {{ end }}
